// ==UserScript==
// @name VK-Raspisator
// @version 1.0.0
// @author Syleront
// @match *://*.vk.com/*
// @connect vk.com
// @run-at document-start
// @updateURL https://openuserjs.org/meta/Syleront/VK-Raspisator.meta.js
// @downloadURL https://openuserjs.org/src/scripts/Syleront/VK-Raspisator.user.js
// @copyright 2019, Syleront
// @license MIT
// ==/UserScript==

// This is a production build, source available at https://github.com/syleront/vk-raspisator