// ==UserScript==
// @name VK-Raspisator
// @version 1.0.0
// @author Syleront
// @match *://*.vk.com/*
// @connect vk.com
// @run-at document-start
// @copyright 2019, Syleront
// @license MIT
// ==/UserScript==

// This is a production build, source available at https://github.com/syleront/vk-raspisator